{% extends "admin_base.njk" %}

{% block titulo %}Recetas | Admin{% endblock %}

{% block contenido %}

    <ul>
        {% for receta in recetas %}
            <li>
                <td>
                    {{receta.titulo}}
                </td>
                <td>
                    <a href="/admin/recetas/editar/{{receta.id}}" class="btn btn-warning">Editar</a>

                </td>
                <td>
                    <form style="display:inline" action="/admin/recetas/{{ receta.id }}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-danger">Borrar</button>
                    </form>
                </td>
                
            </li>
        {% else %}
            {{error}}
        {% endfor %}
    </ul>

{% endblock %}